.nav-bar{
    padding: 0 30px;
    background-color: #FFE227;
    z-index: 2;    
    position: fixed;
    top: 0;
    width: 100%;
    color: #393E46;
    display: flex;
    height: 60px;
    justify-content: space-between;
    /* align-items: center; */
    cursor: pointer;
}
.nav-bar h1{
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Tektur', cursive;
}
 .nav-bar ul{
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    width: 50%;
    font-size: 1.3rem;
    transform: translateY(10px);
    /* font-family: 'Open Sans', sans-serif; */
 }
.menu{
    display: none;
}
.active{
    color: white;
    transform: translateY(-10px);
    transition: all 200ms linear;
    background-color: #393E46;
    padding: 5px;
    width: 30%;
    text-align: center;
    border-radius: 5px 5px  0 0;
}

@media (min-width:200px) and (max-width:800px){
    .nav-bar{
        flex-direction: column;
        height: fit-content;
        align-items: flex-start;
        padding-bottom: 10px;
    }
    .nav-bar ul{
        flex-direction: column;
    }
    .menu{
        display: block;
        position: absolute;
        top: 10px;
        font-size: 1.6em;
        right: 30px;

    }
     ul.mobile{
        display: none ;
        transition:al 200ms linear;
    }
    .active{
        transform: translateY(-5px);
        transition: all 200ms linear;
        background-color:inherit;
        text-align: center;
        border-radius:0 0;
    }
}


 /* font-family: 'Bree Serif', serif;
 font-family: 'Inter', sans-serif;
 font-family: 'Lexend Deca', sans-serif;
 font-family: 'Noto Sans', sans-serif;
 font-family: 'Open Sans', sans-serif;
 font-family: 'Poppins', sans-serif;
 font-family: 'Sofia Sans', sans-serif;
 font-family: 'Tektur', cursive; */
